<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p><br><br>
    <a href="/flights/new">Add a new flight</a>
    <br>
    <a href="/flights">View all flights</a>
  </body>
</html>
